h1 {
    font-size: 24px
}

h2 {
    font-size: 22px;
}

img {
    width: 400px; 
    height: auto;
}

body, li {
    background-color: rgb(10, 10, 10);
    color: white;
}

li {
    font-size: 18px;
    font-family: Jetbrains Mono, monospace, san-serif
}
