body {
    flex-wrap: wrap;
}
h1 {
    font-size: 24px
}

h2 {
    font-size: 22px;
}

img {
    width: 350px; 
    height: auto;
}

body, li {
    background-color: rgb(10, 10, 10);
    color: white;
}

li, a {
    font-size: 18px;
    font-family: Jetbrains Mono, monospace, san-serif
}
