body,li {
    background-color: rgb(10, 10, 10);
    color: white;
}

h1 {
    font-size: 300%;
    text-align: center;
}

h1,h2 {
    text-transform: uppercase;
}

img {
    width: 100%; 
    height: auto;
}

li {
    font-size: 18px;
    font-family: Jetbrains Mono, monospace, san-serif
}

footer {
    margin-top: 70px;
}

footer p {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

#container {
    width: 70%;
    margin: auto;
}
